In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [6]:
df=pd.read_csv("heart.csv")

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [9]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [10]:
X=df[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]

In [11]:
Y=df['target']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [13]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3
196,46,1,2,150,231,0,1,147,0,3.6,1,0,2
75,55,0,1,135,250,0,0,161,0,1.4,1,0,2
176,60,1,0,117,230,1,1,160,1,1.4,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
71,51,1,2,94,227,0,1,154,1,0.0,2,1,3
106,69,1,3,160,234,1,0,131,0,0.1,1,1,2
270,46,1,0,120,249,0,0,144,0,0.8,2,0,3
102,63,0,1,140,195,0,1,179,0,0.0,2,2,2

In [14]:
len(X_train)

242

In [15]:
len(X_test)

61

In [26]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, Y_train)

# Make predictions
predictions = model.predict(X_test)

In [27]:
score = model.score(X_test, Y_test)
print(f"Model accuracy: {score}")

Model accuracy: 0.8032786885245902

In [28]:
model.predict(X_test)

array([0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [34]:
def predict_heart_disease():
    print("Please enter the following details for prediction:")
    age = int(input("Age: "))
    sex = int(input("Sex (0 = female, 1 = male): "))
    cp = int(input("Chest pain type (0-3): "))
    trestbps = int(input("Resting blood pressure (in mm Hg): "))
    chol = int(input("Serum cholesterol in mg/dl: "))
    fbs = int(input("Fasting blood sugar > 120 mg/dl (0 = false, 1 = true): "))
    restecg = int(input("Resting electrocardiographic results (0-2): "))
    thalach = int(input("Maximum heart rate achieved: "))
    exang = int(input("Exercise induced angina (0 = no, 1 = yes): "))
    oldpeak = float(input("ST depression induced by exercise relative to rest: "))
    slope = int(input("Slope of the peak exercise ST segment (0-2): "))
    ca = int(input("Number of major vessels (0-3) colored by fluoroscopy: "))
    thal = int(input("Thalassemia (1 = normal; 2 = fixed defect; 3 = reversable defect): "))

    # Create input data as a DataFrame
    input_data = pd.DataFrame({
        'age': [age],
        'sex': [sex],
        'cp': [cp],
        'trestbps': [trestbps],
        'chol': [chol],
        'fbs': [fbs],
        'restecg': [restecg],
        'thalach': [thalach],
        'exang': [exang],
        'oldpeak': [oldpeak],
        'slope': [slope],
        'ca': [ca],
        'thal': [thal]
    })

    # Make prediction
    prediction = model.predict(input_data)
    if prediction[0] == 1:
        print("The model predicts that you are at risk of heart disease.")
    else:
        print("The model predicts that you are not at risk of heart disease.")

# Call the function to get user input and make a prediction
predict_heart_disease()

Please enter the following details for prediction:
Age: 56
Sex (0 = female, 1 = male): 1
Chest pain type (0-3): 2
Resting blood pressure (in mm Hg): 130
Serum cholesterol in mg/dl: 120
Fasting blood sugar > 120 mg/dl (0 = false, 1 = true): 90
Resting electrocardiographic results (0-2): 1
Maximum heart rate achieved: 34
Exercise induced angina (0 = no, 1 = yes): 0
ST depression induced by exercise relative to rest: 0
Slope of the peak exercise ST segment (0-2): 0
Number of major vessels (0-3) colored by fluoroscopy: 0
Thalassemia (1 = normal; 2 = fixed defect; 3 = reversable defect): 1
The model predicts that you are at risk of heart disease.